<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mbacet">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mbacet">
        <activity
            android:name=".Quize"
            android:exported="false" />
        <activity
            android:name=".mathVED"
            android:exported="false" />
        <activity
            android:name=".subjectVED"
            android:exported="false" />
        <activity
            android:name=".math"
            android:exported="false" />
        <activity
            android:name=".Nsubjectname"
            android:exported="false" />
        <activity
            android:name=".s2020"
            android:exported="false" />
        <activity
            android:name=".LISTquestionpaper"
            android:exported="false" />
        <activity
            android:name=".syllabus"
            android:exported="false" />
        <activity
            android:name=".Mainscreen"
            android:exported="false" />
        <activity
            android:name=".registration"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>